.pot {
    border: 1px solid black;
    padding: 5px;
    width: 40px;
    text-align: center;
}

#app {
   width:700px;
   display: flex;
   border: 1px solid black;
   flex-wrap: wrap;
   justify-content: center;
    
}

.player1-area {
    display: flex;
    font-weight: 600;
}

.player2-area {
    display: flex;
    flex-direction: row-reverse;

}