.pot,
.big-pot {
    border: 1px solid black;
    padding: 5px;
    width: 40px;
    text-align: center;
}

#gameboard {
    width: 400px;
    display: flex;
    flex-direction: column-reverse;
    border: 1px solid black;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    padding: 20px 80px;


}

#player1-area {
    display: flex;
  

}

#player2-area {
    display: flex;
    flex-direction: row-reverse;



}

.big-pot-1 {
    position: absolute;
    transform: scale(1.6) translateX(210px) translateY(-18.5px);


}

.big-pot-2 {
    position: absolute;
    transform: scale(1.6) translateX(-210px) translateY(20px);




}