body {
    background-color: rgb(22,22,21);
}

.pot::after {
    content: '';
  
    width:50px;
    height: 61px;
    display: block;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0px;
    right:0px;
    z-index: 4;
    border-radius: 15px;
}

.big-pot::after {
    backdrop-filter: blur(10px);

    content: '';
    width:50px;
    height:61px;
    display: block;
    position: absolute;
    top: 0px;
    right:0px;
    z-index: 4;
    border-radius: 15px;

}

.pot,
.big-pot {
    border: 1px solid rgb(109, 0, 0);;
    padding: 5px;
    width: 40px;
    text-align: center;
    position: relative;
    border-radius: 15px;
    z-index:5;
}

.pot p {
    position: relative;
    z-index: 6;
}

.big-pot p {
    position: relative;
    z-index: 9;

}

#gameboard {
    width: 400px;
    display: flex;
    flex-direction: column-reverse;
    color:white;
    flex-wrap: wrap;
    align-items: center;
    margin: 50px auto;
    padding: 20px 80px;
    gap:50px;
    background-image: url(./assets/stock-photo-rustic-wood-wall-texture-background.jpeg);
    border-radius: 15px;
    box-shadow: 2px 4px 56px 18px black;

}

#player1-area {
    display: flex;
    position: relative;
  

}

#player2-area {
    display: flex;
    flex-direction: row-reverse;
    position: relative;

}

.big-pot-1 {
    position: absolute;
    transform: scale(1.6) translateX(210px) translateY(-18.5px);


}

.big-pot-2 {
    position: absolute;
    transform: scale(1.6) translateX(-210px) translateY(20px);
}

.hand-element {
    position: absolute;   
    top: -30px;
    height: 30px;
    transform: rotate(180deg);
}


.start-btn {
    width: 100px;
    display: block;
    margin: auto;    
}

.active {
    
    border: 1px solid white;
    
}

.active:not(.big-pot):hover {
    transform: scale(1.05);
}

.player1-tag {
    position: absolute;
    z-index: 6;
    top: 60px;
    right: -90px;

}

.player2-tag {
    z-index: 6;
    position: absolute;
    bottom: 60px;
    left: -90px
}


#textbox {
    color: white;
    position: absolute;
    background-color: rgb(22, 22, 50);
    z-index: 10;   
    
}

#textbox > * {
    padding:0.5em;
}

#textbox li {
    margin-top: 0.5em;
    
}

.hand-element {
    position: absolute;
    right: 10px;

}

#win-message {
    padding: 1em;
    width: 400px;
    margin: auto;
    background-color: rgb(120, 79, 63);
    border:10px solid rgb(100, 79, 63);
    text-align: center;
}

