body {
    background-color: rgb(22,22,21);
}

.pot,
.big-pot {
    border: 1px solid white;
    padding: 5px;
    width: 40px;
    text-align: center;
    position: relative;
    border-radius: 15px;
}

#gameboard {
    width: 400px;
    display: flex;
    flex-direction: column-reverse;
    color:white;
    flex-wrap: wrap;
    align-items: center;
    margin: 50px auto;
    padding: 20px 80px;
    gap:50px;
    background-image: url(./assets/stock-photo-rustic-wood-wall-texture-background.jpeg);
    border-radius: 15px;
    

}

#player1-area {
    display: flex;
  

}

#player2-area {
    display: flex;
    flex-direction: row-reverse;



}

.big-pot-1 {
    position: absolute;
    transform: scale(1.6) translateX(210px) translateY(-18.5px);


}

.big-pot-2 {
    position: absolute;
    transform: scale(1.6) translateX(-210px) translateY(20px);




}

.hand-element {
    position: absolute;   
    top: -30px;
    height: 30px;
    transform: rotate(180deg);
}

.turn-indicator {
    height: 30px;
    width: 30px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    transform: translateX(30px);
    
}

.start-btn {
    width: 100px;
    display: block;
    margin: auto;    
}

.active {
    
    border: 1px solid orangered;
    
}

.active:hover {
    transform: scale(1.05);
}

#textbox {
    color: white;
    position: absolute;
    background-color: rgb(22, 22, 50);
    z-index: 10;
    
    padding: 1em;
}

#textbox li {
    margin-top: 0.5em;
}

#hand-element {
    color: white;
    background-color: wheat;
}

#win-message {
    padding: 1em;
    width: 400px;
    margin: auto;
    background-color: rgb(120, 79, 63);
    border:10px solid rgb(100, 79, 63);
    text-align: center;
}